.selected-by-color-red {
    color: red;
}

.selected-by-background-red {
    background-color: red;
}
.selected-by-background-white {
    background-color: white;
    color: red;
}

.button {
    padding-left: 10px;
    padding-right: 10px;
    cursor:pointer;
    margin-left: 5px;
    margin-right: 5px;
    border-style: solid;
}

