.film-card {
  width: 20%;
  margin-bottom: 3%;
  margin-left: 1%;
  margin-right: 1%;
}

.release-date {
  border-style: solid;
  border-width: thin;
}

.title {
  width: 80%;
}

.poster {
  height: 300px;
}
